body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5db;
  }

  .pricing-table-header {
    display: block;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    background-color:#e1defd;
  }

  .main-title {
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0;
    color: #6a62b7;
  }

  .main-subtitle {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
    color: #6a62b7;
    font-weight: 200;
  }

  .pricing-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    background-color: #e1defd;
    border-radius: 10px;
  }

  .pricing-card {
    display: inline;
    text-align: center;
    padding-bottom: 20px;
    height: 515px;
    width: 270px;
    margin: 10px;
    border-radius: 10px;
  }

  .pricing-card-color-light {
    background-color: #f5f5db;
  }

  .pricing-card-color-dark {
    background-color: #7069b9;
  }

  .pricing-card-text-color-light {
    color: #f5f5db;
  }

  .pricing-card-text-color-dark {
    color: #7069b9;
  }

  .pricing-card-image {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .pricing-card-title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
  }

  .pricing-card-description {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin: 20px 0;
    color: #b3afa8;
    height: 50px;
  }

  .pricing-card-description-color {
    color: #f5f5db;
  }

  .pricing-card-price {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    height: 25px;
    text-transform: uppercase;
  }

  .pricing-card-price:hover {
    text-decoration: underline;
  }
  
  .pricing-card-button {
    display: block;
    padding: 10px 20px;
    background-color: #f5f5db;
    font-size: 16px;
    width: 70%;
    border: 2px solid #7069b9;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px auto;
  }

  .pricing-card-button-font-strong {
    font-weight: 600;
    color: #7069b9;
  }

  .pricing-card-button-font-normal {
    color: #7069b9;
    font-weight: 400;
  }

  .all-subscriptions-button {
    display: block;
    width: 40%;
    padding: 10px 10px;
    background-color: #f5f5db;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    margin: 30px auto;
    color: #7069b9;
    text-align: center;
    transition: box-shadow 0.3s ease;
    box-shadow: none;
  }

  .all-subscriptions-button:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }